<div class="container text-center">
  <div class="container bordertext-center">
    <div class="row" id="force">
      <h2 id="aahhaa"></h2>
    </div>
  </div>

  <div class="row row-cols-3">
    <div class="col border border-dark font-weight-bold">
      <h2>1</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>2</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>3</h2>
    </div>

    <div class="col border border-dark font-weight-bold">
      <h2>4</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>5</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>6</h2>
    </div>

    <div class="col border border-dark font-weight-bold">
      <h2>7</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>8</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>9</h2>
    </div>

    <div class="col border border-dark font-weight-bold">
      <h2>&times</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>0</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>÷</h2>
    </div>

    <div class="col border border-dark font-weight-bold">
      <h2>+</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>=</h2>
    </div>
    <div class="col border border-dark font-weight-bold">
      <h2>-</h2>
    </div>
  </div>
</div>
