<div class="list-group">
  <a href="#login" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <img src="svg/key-alt-back.svg" style="margin-right: 10px;" alt="A" />Se
        connecter
      </h5>
    </div>
  </a>
  <a href="#register" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <img src="svg/credit-card.svg" style="margin-right: 10px;" alt="A" />S'inscrire
      </h5>
    </div>
  </a>
  <a href="#cours" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <img src="svg/book-stack.svg" style="margin-right: 10px;" alt="B" />Mes
        cours
      </h5>
    </div>
    <small class="text-muted">Liste des inscriptions validées</small>
  </a>
  <a href="#edt" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <img src="svg/clock-outline.svg" style="margin-right: 10px;" alt="C" />Ma journée
      </h5>
    </div>
    <small class="text-muted">Liste des cours du jour</small>
  </a>
  <a href="#photo" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <img src="svg/camera.svg" style="margin-right: 10px;" alt="D" />La photo
        du jour
      </h5>
    </div>
  </a>
  <a href="#calc" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <img src="svg/calculator.svg" style="margin-right: 10px;" alt="E" />Calculette
      </h5>
    </div>
  </a>
</div>