<ul class="list-group">
  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Identifiant</span>
      <input
        type="text"
        class="bg-primary bg-opacity-25 form-control"
        placeholder="- - - - - -"
        aria-label="Identifiant"
        aria-describedby="addon-wrapping"
        id="userid"
      />
    </div>
  </li>

  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Mot de passe</span>
      <input
        type="Password"
        class="bg-primary bg-opacity-25 form-control"
        placeholder="- - - - - -"
        aria-label="Mot de passe"
        aria-describedby="addon-wrapping"
        id="mdp"
      />
    </div>
  </li>

  <button id ="btn" type="button" class="btn btn-outline-secondary mt-4 w-25">
    Se connecter
  </button>
</ul>

