
<ul class="list-group">
  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Identifiant</span>
      <input id="userid" type="text" class="bg-primary bg-opacity-25 form-control" placeholder="- - - - - -"
        aria-label="Identifiant" aria-describedby="addon-wrapping" />
    </div>
  </li>

  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Mot de passe</span>
      <input id="mdp1" type="Password" class="bg-primary bg-opacity-25 form-control" placeholder="- - - - - -"
        aria-label="Mot de passe" aria-describedby="addon-wrapping" />
    </div>
  </li>

  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Confirmer mot de passe</span>
      <input id="mdp2" type="Password" class="bg-primary bg-opacity-25 form-control" placeholder="- - - - - -"
        aria-label="Mot de passe" aria-describedby="addon-wrapping" />
    </div>
  </li>



  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping"> Nom </span>
      <input id="nom" type="text" class="bg-primary bg-opacity-25 form-control" placeholder="- - - - - -"
        aria-label="Mot de passe" aria-describedby="addon-wrapping" />
    </div>
  </li>

  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping"> Prénom </span>
      <input id="prenom" type="text" class="bg-primary bg-opacity-25 form-control" placeholder="- - - - - -"
        aria-label="Mot de passe" aria-describedby="addon-wrapping" />
    </div>
  </li>

  <li class="list-group-item mt-2">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping"> email </span>
      <input id="email" type="text" class="bg-primary bg-opacity-25 form-control" placeholder="- - - - - -"
        aria-label="Mot de passe" aria-describedby="addon-wrapping" />
    </div>
  </li>



  <button id="btn" type="button" class="btn btn-outline-secondary mt-4 w-25">
    S'inscrire
  </button>
</ul>




<div class="modal fade" id="exampleModal" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">   </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span id="themessage"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
      </div>
    </div>
  </div>
</div>
